<div class="options">
    <div *ngIf="quantities" class="ifQuantities">
        <div *ngFor="let quantity of quantities" class="option" >
            <div class="option-title btn btn-info qy{{quantity.id}}" (click)="addQuantity(quantity.quantity, quantity.id)">
                {{quantity.quantity}}
            </div>
        </div>
    </div>
    <div *ngIf="notQuantities == true">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" [(ngModel)]="order_quantity" id="quantity" placeholder="Introduce una cantidad" (keyup)="quantity()">
            <label for="quantity">Introduce una cantidad</label>
        </div>
    </div>
</div>