.days_ {
    margin-top: 1rem;
    text-align: center;
}
.cards-clients-days {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}

.client-card {
    width: 100%;
}

.products {
    padding-top: 2rem;
}