<div class="clients">
    <div class="inputs-client">
        <div class="form-floating mb-3 input-client">
            <input type="text" class="form-control" id="floatinName" placeholder="Nombre">
            <label for="floatinName">Nombre</label>
          </div>
        <div class="form-floating input-client">
            <input type="tel" class="form-control" id="floatinTel" placeholder="Teléfono">
            <label for="floatinTel">Teléfono</label>
        </div>
    </div>
    <div class="search-inline">
        busqueda?
    </div>
</div>

