<div class="clients">
    <div class="inputs-client">
        <form [formGroup]="client">
            <div class="form-floating mb-3 input-client">
                <input type="text" class="form-control" id="floatingName" placeholder="Nombre" formControlName="name" (keyup)="searchClient('name')">
                <label for="floatingName">Nombre</label>
              </div>
            <div class="form-floating input-client">
                <input type="number" class="form-control" id="floatingTel" placeholder="Teléfono" formControlName="telephone" (keyup)="searchClient('tel')">
                <label for="floatingTel">Teléfono</label>
            </div>
        </form>
    </div>
    <div class="search-inline">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="clientId" (change)="newClient('selected')">
        <option selected>Buscar o crear</option>
        <option *ngFor="let client of clientSearched" [attr.value]="client.id" >{{client.name}}</option>
        </select>
        <div class="new-client" *ngIf="client.value.name != ''">
            <a class="btn btn-info" (click)="newClient('new_')">Nuevo cliente</a>
        </div>
    </div>
</div>

