<div class="clients">
    <div class="buttons">
        <div class="input-group mb-3">
            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></span>
              <input type="text" class="form-control" [(ngModel)]="wordToSearch" (keyup)="searchClient()">
        </div>

    </div>

      <div class="list">
        <div><span *ngIf="message != ''">{{message}}</span></div>
        <div *ngIf="message != ''">
            <form [formGroup]="client" >
                <input class="form-control input-form" formControlName="name" type="text" placeholder="Nombre" aria-label="input para el nombre" required>
                <input class="form-control input-form" formControlName="telephone" type="number" maxlength="12" minlength="9" placeholder="Teléfono" aria-label="input para el teléfono" required>
            </form>
            <button class="btn btn-success" *ngIf="client.status == 'VALID'" (click)="newClient()">Nuevo cliente</button>
        </div>
        <div *ngIf="load" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        <ul class="list-group">
            <li class="list-group-item client{{client.id}}" *ngFor="let client of clientSearched" (click)="clientSelected(client.id, client.name, client.telephone)">{{client.name}} -  {{client.telephone}}</li>
          </ul>
      </div>

</div>