.chart {
    width: 50vw+(1.4641288433382138);
    padding: 10px;
    border: 0;
    box-shadow: 7px 9px 20px -11px rgb(0 0 0 / 40%);
}

.chart:hover {
    box-shadow: 7px 9px 20px 0px rgb(0 0 0 / 40%);

}