<div class="menu">

  <div class="logo">
    <span>Ixia</span>
  </div>
  <div class="button" >
    <button (click)="showMenu()"><i class="fa-solid fa-circle-chevron-right" ></i></button>
  </div>
  <div class="navbar">
    <ul>
      <li class="item item1 active" routerLink="">
        <i class="fa-solid fa-house"></i
          ><span class="menu-item">Inicio</span>
        </li>
      <li class="item item2" routerLink="pedidos">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="menu-item">Pedidos</span>
      </li>
      <li class="item item3">
        <i class="fa-solid fa-users"></i>
        <span class="menu-item">Clientes</span>
      </li>
    </ul>
  </div>
</div>