<div class="options">
    <div *ngFor="let product of products" class="option">
        <div class="option-title btn btn-info" (click)="hasColors(product.id, product.product)">
            {{product.product}}
        </div>
        <div class="colors">
            <button id="color-{{colour.id}}-{{product.product}}" class="colors-hidden colors-{{product.product}} color{{colour.id}}" *ngFor="let colour of product.colors" [ngStyle]="{'background': colour.code, 'padding': '0.8rem', 'width': '1.8rem', 'border': '1px solid black', 'margin': '0.3rem'}" (click)="selectColour(product.id, colour.id)"></button>
        </div>
    </div>
</div>