<!--<div class="options">
    <div *ngFor="let option of options" class="option">
        <div class="option-title">
            {{option.work}}
        </div>
        <div class="sub-options" *ngFor="let work of option.options">
            <a class="btn btn-info sub-option-{{work.id}}"  (click)="hasOptions(work.id, work.work, option.work)"><span>{{work.work}}</span></a>
            <div class="rama-{{work.id}}" style="display: none;">
                <a *ngFor="let optionWork of options_work" class="btn btn-secondary btn-rama-{{optionWork.id}}" style="font-size: 0.8rem;width: 75%;margin-left: 25%;margin-top: 0.4rem;" (click)="hasOptions(optionWork.id, optionWork.work, option.work)">{{optionWork.work}}</a>
            </div>
        </div>
    </div>
</div>
-->

<div class="options">
    <div class="option" *ngFor="let option of options">
        <div class="option-title">
            {{option.work}}
        </div>
        <select class="form-select" multiple name="{{option.work}}" id="{{option.work}}">
            <option  value="{{work.work}}" *ngFor="let work of option.options">{{work.work}}</option>
        </select>
    </div>
</div>