.options {
    display: flex;
    justify-content: space-evenly;

    .option{
        .option-title{
            border-bottom: 1px solid lightgray;
            margin-bottom: 1.2rem;
        }

        .sub-options{
            display: flex;
            flex-direction: column;
            .btn {
                margin-top: 0.2rem;
                border-radius: 0;
            }
            .rama {
                display: flex;
                flex-direction: column;
            }
        }  
    } 
}
