.options {
    display: flex;
    justify-content: space-evenly;

    .option{
        .option-title{
            border-bottom: 1px solid lightgray;
            margin-bottom: 1.2rem;
        }

        .sub-options{
            display: flex;
            flex-direction: column;
            .btn {
                margin-top: 0.2rem;
                border-radius: 0;
                border: 0px;
            }
            .rama {
                display: flex;
                flex-direction: column;
            }
        }  
    } 
}

.btn-next {
    position: fixed;
    bottom: 0px;
    width: 100%;
    
    .btn {
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
    }
}

select {
    overflow: hidden;
    border: 0px;
}

option:checked {
    background-color: green;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    width: 70px;
    color: white;
}

